{% assign plang = page.lang | default: site.langs[0] | default: "en" %}
<span class="contact-list-title">
  {{ site.data.academic_i18n.links[plang] }}
</span>
<ul class="contact-list {{ include.class }}">
  <!--
  <li>
    {% include _icons/rss.html %}
  </li>
-->
  {% if site.github %}
  <a target="_blank" href="https://github.com/{{ site.github }}" title="Github">
    <i class="fa fa-fw fa-github"></i>
    <span class="username">
        {{ site.github}}
    </span>
  </a>
  {% endif %}

  {% if site.twitter%}
  <li>
    <a target="_blank" href="https://twitter.com/{{ site.twitter }}" title="Twitter">
      <i class="fa fa-fw fa-twitter"></i>
      <span class="username">
          {{ site.twitter}}
      </span>
    </a>      
  </li>
  {% endif %}

  <li>
  {% if site.linkedin%}
    <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin }}" title="LinkedIn">
      <i class="fa fa-fw fa-linkedin"></i>
      <!--<span class="username">
        {{site.linkedin}}
      </span>-->
    </a>    
  {% endif %}

  {% if site.mendeley%}
    <a target="_blank" href="https://www.mendeley.com/profiles/{{ site.mendeley }}" title="Mendeley">
      <i class="ai ai-fw ai-mendeley"></i>
    </a>    
  {% endif %}
  {% if site.researchgate%}
    <a target="_blank" href="https://www.researchgate.net/profile/{{ site.researchgate }}" title="Research Gate">
      <i class="ai ai-fw ai-researchgate"></i>
    </a>    
  {% endif %}

  {% if site.orcid%}
    <a target="_blank" href="https://orcid.org/{{ site.orcid }}" title="ORCID">
      <i class="ai ai-fw ai-orcid"></i>
    </a>    
  {% endif %}

</li>


</ul>
